@charset "UTF-8";

// Color
@import "components/color-variables";
@import "components/color-classes";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sidenav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/social_icons";
@import "components/custom";

.login-bg {  
    background: #000;
    min-height: 100vh;

    &::before {    
        content: "";
        background: url('../images/weights.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: .3;
  }
}

#sign-up {
    position: relative;
    margin: 8vh auto;
    display: block;
    height: 100%;
    width: 800px;
    background: transparent;    
    -webkit-box-shadow: 10px 10px 35px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 35px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 35px 3px rgba(0, 0, 0, 0.75);

    &::before {    
        content: "";
        background: lighten($bg-color, 8%);
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: .8;
  }

    h1 {
        position: relative;
        padding: 1rem;
    }

    form {
        position: relative;
        padding: 0 3rem;

        a {
            background-color: lighten($secondary-color, 5%);

            &:hover{
                background-color: darken($secondary-color, 1.2%);
            }
        }
    }

    .btn-block {
        padding: 1rem;
        height: auto;
        font-size: .9rem;
    }


    @media #{$small-and-down} {
        width: 100%;
        height: 100vh;
        margin: 0;

        h1 {
            padding: 1rem;
            text-align: center;
            margin: 0;
        }
    }
}