<div class="row">
    <h2>Todays Workout</h2>
    <h5>Muscle group one | muscle group two</h5>
    <table>
        <thead>
          <tr>
            <th><%- profile.first_name -%></th>
              <th><%- profile.last_name -%></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>