<section id=set-up class="container">
    <div class="row center">
        <h1>Welcome <%- profile.name -%>!</h1>
        <form id=set-up-form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <button class="btn btn-block" type="submit" name="submit" form='sign-up-form'>Create My
                        Account</button>
                </div>
                <div class="col s12 m6">
                    <a class="btn btn-block" href="/">I'm Already A Member</a>
                </div>
            </div>
        </form>
    </div>
</section>