<%- include('partials/_head') %>
<div class="login-bg">
    <section id=sign-up class="container">
        <div class="row center">
            <h1>Ground Zero</h1>
            <%- include('partials/_validation') %>
            <form id=sign-up-form class="col s12" action="/sign-up" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" name="email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" name="password2">
                        <label for="password">Confirm Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <button class="btn btn-block" type="submit">Create My
                            Account</button>
                    </div>
                    <div class="col s12 m6">
                        <a class="btn btn-block" href="/">I'm Already A Member</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4">
                        <a class="transparent" href="/auth/google"><img class="responsive-img" src="./images/google.png" alt="google sign-in"></a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<%- include('partials/_footer') %>