<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s6 m3">
                <img class="materialize-logo"
                    src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/materialize-logo.png?v=17909639059119771368"
                    alt="Materialize">
                <p>Made with love by Materialize.</p>
            </div>
            <div class="col s6 m3">
                <h5>About</h5>
                <ul>
                    <li><a href="#!">Blog</a></li>
                    <li><a href="#!">Pricing</a></li>
                    <li><a href="#!">Docs</a></li>
                </ul>
            </div>
            <div class="col s6 m3">
                <h5>Connect</h5>
                <ul>
                    <li><a href="#!">Community</a></li>
                    <li><a href="#!">Subscribe</a></li>
                    <li><a href="#!">Email</a></li>
                </ul>
            </div>
            <div class="col s6 m3">
                <h5>Contact</h5>
                <ul>
                    <li><a href="#!">Twitter</a></li>
                    <li><a href="#!">Facebook</a></li>
                    <li><a href="#!">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>

<!-- External libraries -->

<!-- jqvmap -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript"
    src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/jquery.vmap.min.js?v=16312383892908448454"></script>
<script type="text/javascript"
    src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/jquery.vmap.world.js?v=7251365059269487148"
    charset="utf-8"></script>
<script type="text/javascript"
    src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/jquery.vmap.sampledata.js?v=8702362987075556685"></script>

<!-- ChartJS -->

<script type="text/javascript"
    src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/Chart.js?v=2884891905158527706"></script>
<script type="text/javascript"
    src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/Chart.Financial.js?v=3464499164675255295"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/imagesloaded.pkgd.min.js?v=5881977179676351054"></script>
<script src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/masonry.pkgd.min.js?v=18031290468259756901"></script>


<!-- Initialization script -->
<script src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/admin-materialize.min.js?v=2611245393728459541"></script>
</body>

</html>